.home {
    height: 100%;
    color: #fff;
    .container {
        .left {
            background: rgb(80, 92, 80);
            width: 250px;
            position: absolute;
            height: 100%;
        }
        .right {
            background: #b0b0b0;
            width: 250px;
            right: 0px;
            position: absolute;
            height: 100%;
        }
        .center {
            margin: 0 auto;
            background: #ccc;
            margin-left: 251px;
            margin-right: 251px;
            .outcontainer {
                width: 100%;
                position: relative;
                .cycontainer {
                    background: rgb(230, 230, 230);
                    width: 100%;
                    left: 0;
                    top: 0;
                    position: absolute;
                    height: 100%;
                }
            }
        }
        ;
    }
}